<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <h3>Click twice to add your start and end point</h3>
  <div class="form-input">
    <div class="floating-label">
      <input name="drName" ngModel required #first="ngModel">
      <span>Name</span>
    </div>
  </div>
  <div class="form-input ">
    <div class="floating-label">
      <input name="drName" ngModel required #first="ngModel">
      <span>Priority</span>
    </div>
  </div>
  <div class="flex-r flex-r-center-x">
    <button class="button-shy-moment">Submit</button>
  </div>
</form>
