
@import "../../shared.sass"

div, app-base-map
  display: flex
  min-height: 100px
  min-width: 100px
  width: 100%
  height: 100%
  padding: 1%



form
  background-color: $bg-blue
  display: flex
  flex-direction: column
  div
    max-height: 5%
  input
    margin: 2% 10%
  button
    margin: 2% 20%

.formInput
  max-width: 100%
  display: flex
  flex-direction: column
  align-content: center
  justify-content: center
  input
    margin: 0 10%
    max-width: 100%
    border-radius: $border-radius
    box-shadow: $box-shadow
    border: none
  p
    margin: 0 10%
    max-width: 100%
