
@import "../../shared.sass"

$max-form-width: 400px

form
  max-width: $max-form-width
  padding: 20px

  div
    button
      width: 150px
      height: 50px
      font-size: 16px
    
.form-input
  width: 100%
  padding: 20px 0

  div
    input
      height: 40px
      width: 100%
      max-width: $max-form-width
      min-width: 170px
      background-color: transparent
      outline: none