<div id="home-page-root">
    <div id="home-page-title-container">
        <h1>Flights informations</h1>
    </div>
    <div id="home-page-total-flights-container">
        <h2>Total flights</h2>
        <h1>999</h1>
    </div>
    <div id="home-page-flights-status-container">
        <div id="home-page-flights-status-title">
            <h3>Current flights status</h3>
            <div></div>
        </div>
        <div id="drones-informations-root">
            <div class="flex-c" id="drones-informations-container">
                <div class="flex-r">
                    <p>DRONE1</p>
                    <p>0000</p>
                    <p class="flying-status">flying</p>
                </div>
                <div class="flex-r">
                    <p>DRONE1</p>
                    <p>0000</p>
                    <p class="flying-status">flying</p>
                </div>
                <div class="flex-r">
                    <p>DRONE1</p>
                    <p>0000</p>
                    <p class="flying-status">flying</p>
                </div>
                <div class="flex-r">
                    <p>DRONE1</p>
                    <p>0000</p>
                    <p class="arrived-status">arrived</p>
                </div>
                <div class="flex-r">
                    <p>DRONE1</p>
                    <p>0000</p>
                    <p class="flying-status">flying</p>
                </div>
                <div class="flex-r">
                    <p>DRONE1</p>
                    <p>0000</p>
                    <p class="cancelled-status">cancelled</p>
                </div>
                <div class="flex-r">
                    <p>DRONE1</p>
                    <p>0000</p>
                    <p class="flying-status">flying</p>
                </div>
                <div class="flex-r">
                    <p>DRONE1</p>
                    <p>0000</p>
                    <p class="flying-status">flying</p>
                </div>
                <div class="flex-r">
                    <p>DRONE1</p>
                    <p>0000</p>
                    <p class="flying-status">flying</p>
                </div>
                <div class="flex-r">
                    <p>DRONE1</p>
                    <p>0000</p>
                    <p class="flying-status">flying</p>
                </div>
                <div class="flex-r">
                    <p>DRONE1</p>
                    <p>0000</p>
                    <p class="flying-status">flying</p>
                </div>
                <div class="flex-r">
                    <p>DRONE1</p>
                    <p>0000</p>
                    <p class="flying-status">flying</p>
                </div>
                <div class="flex-r">
                    <p>DRONE1</p>
                    <p>0000</p>
                    <p class="flying-status">flying</p>
                </div>
                <div class="flex-r">
                    <p>DRONE1</p>
                    <p>0000</p>
                    <p class="flying-status">flying</p>
                </div>
            </div>
            <div id="drones-informations-blur"></div>
        </div>
    </div>
    <div id="home-page-actions" class="flex-c flex-c-center-x">
        Your actions
        <button class="button-shy-moment cursor-hover" (click)="onAddDrone($event)">Add Drone</button>
        Tower control zone
        <button class="button-shy-moment cursor-hover bouton-rouge" (click)="onBlockZone($event)">Block a Zone</button>
    </div>
</div>
