<ng-template #droneli>

</ng-template>

<div id="home-page-root">
    <div id="home-page-title-container">
        <h1>Flights informations</h1>
    </div>
    <div id="home-page-total-flights-container">
        <h2>Total flights</h2>
        <h1>{{this.status.status?.drones?.length ?? 0}}</h1>
    </div>
    <div id="home-page-flights-status-container">
        <div id="home-page-flights-status-title">
            <h3>Current flights status</h3>
            <div></div>
        </div>
        <div id="drones-informations-root">
            <div class="flex-c" id="drones-informations-container">

                <div class="flex-r" *ngFor="let drone of this.status?.status?.drones">
                    <p>{{drone.name}}</p>
                    <p>{{drone.path.points.length}}</p>
                    <p class="flying-status">flying</p>
                </div>
            </div>
            <div id="drones-informations-blur"></div>
        </div>
    </div>
    <div id="home-page-actions" class="flex-c flex-c-center-x">
        <button class="button-shy-moment cursor-hover" (click)="onAddDrone($event)">Add Drone</button>
        <button class="button-alizarin cursor-hover" (click)="onBlockZone($event)">Block Zone</button>
    </div>
</div>
