@import "../../shared.sass"

app-side-bar
    background-color: $cloud
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.3)
    z-index: 500

app-base-map
    width: 100%

#main-container 
    display: flex
    width: 100%
    height: 100%