
div, app-base-map
  display: flex
  min-height: 100px
  min-width: 100px
  width: 100%
  height: 100%
  padding: 1%

  form
    flex-grow: 1
    button
      padding: 20%
      height: 5px
    input
      min-width: 50px
  app-base-map
    flex-grow: 4

