@import "../../shared.sass"

  
.bouton-block
  font-family: $font-play
  font-size: 1rem
  margin: 10px 0 // marge 10px et 0 en largeur
  width: 150px
  height: 50px

#block-zone-root
  padding: 20px
