<div id="block-zone-root">
    <div>
        <div class="admin-only"> 
            Control Tower Zone
        </div>
        <div class="texte">
            Please click on the map to draw the new blocked zone
        </div>
        <div class="flex-c flex-c-center-x" id="marge-boutons">
            <button class="button-shy-moment bouton-block cursor-hover" (click)="sendToBack()">Submit</button>
            <button class="button-shy-moment bouton-block cursor-hover" (click)="deleteZone()">Redraw the zone</button>    
        </div>
       </div> 
</div>



