/* You can add global styles to this file, and also import other style files */
@import ./shared.sass

@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap')

:root 
    font-family: 'Play', sans-serif
    font-size: 16px

*
  margin: 0
  padding: 0
  -webkit-user-select: none
  -ms-user-select: none
  user-select: none

body
  overflow: hidden
  width: 100vw
  height: 100vh

.flex-c
  display: flex
  flex-direction: column

.flex-r
  display: flex
  flex-direction: row

.flex-r-center-y
  align-items: center

.flex-r-center-x 
  justify-content: center

.flex-c-center-x
  align-items: center

.flex-c-center-y
  justify-content: center

.button-shy-moment
  font-family: $font-play
  border: none
  border-radius: 5px
  background-color: $shy-moment
  transition-duration: 0.3s

.button-shy-moment:hover 
  cursor: pointer
  background-color: #918be2

.floating-label
  position: relative
  border: 1px solid $shy-moment
  border-radius: 5px
  padding: 0 10px

  span
    z-index: -1
    position: absolute
    top: 50%
    left: 10px
    color: #5c5c5c
    transform: translate(0, -50%)
    transition-duration: 0.1s

  input
    border: none

  input:not([value=""]):valid
    ~span 
      z-index: 1
      color: #000000
      top: -1px
      background-color: $cloud

  input:focus
    ~span
      z-index: 1
      color: #000000
      top: -1px
      background-color: $cloud