/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap')

:root
    font-family: 'Play', sans-serif

*
  margin: 0
  padding: 0

body
  overflow: hidden
  width: 100vw
  height: 100vh

.flex-h
  display: flex
  flex-direction: columns


.flex-h-center-h
  justify-content: center

// .map-size
//   width: 100% // sinon le component prend une taille 0

// .bouton
//   transition-duration: 0.5s
//   margin: 10px 0
//   width: 150px
//   height: 65px
//   border: none
//   background: #a29bfe
//   border-radius: 15px

// .bouton:hover
//   transition-duration: 0.5s
//   cursor: pointer
//   background-color: #6c5ce7
